.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 2rem;
}

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 2rem;
}

.custom-title, .custom-text {
  color: #000;
  text-align: center;
}

.custom-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}