.video-container {
  width: 60%;
  height: auto;
  margin: 0 auto; /* This will center the container */
  display: flex;
  justify-content: center;
  align-items: center;
}


.video-player {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

.video-title {
  margin: 1em 0;
  font-size: 1.5em;
  text-align: center;
}
  
.video-nav-button {
  margin: 0 10px; /* Add some space between the buttons and the video */
}

.video-index {
  text-align: center;
  font-weight: bold;
}