<div class="p-grid p-justify-center p-align-center">
  <div class="p-col-12 p-md-8 p-lg-6">
    <p-card title="Video Quality">
      <p-selectButton [options]="videoQualities" [(ngModel)]="selectedQuality" optionLabel="label" optionValue="value"></p-selectButton>
      <p-divider></p-divider>
      <div id="videoTimer" *ngIf="isVideoRecording && !videoBlobUrl" class="video-timer"> {{ videoRecordedTime }} </div>
      <div class="video-container">
        <video #videoElement class="video">
          <source *ngIf="!isVideoRecording && videoBlobUrl" [src]="videoBlobUrl">
        </video>
        <div *ngIf="!(hasCamera | async)" class="video-placeholder">
          No camera found. Please check your camera permissions or connect a camera.
        </div>
      </div>
      <p-footer>
        <div class="p-grid p-justify-center button-container">
          <div class="p-col">
            <p-button label="Start Recording" class="p-button-success" *ngIf="!isVideoRecording && !videoBlobUrl" (click)="startVideoRecording()"></p-button>
          </div>
          <div class="p-col">
            <p-button label="Stop Recording" class="p-button-warning" *ngIf="isVideoRecording && !videoBlobUrl" (click)="stopVideoRecording()"></p-button>
          </div>
          <div class="p-col">
            <p-button label="Redo Recording" class="p-button-danger" *ngIf="!isVideoRecording && videoBlobUrl" (click)="clearVideoRecordedData()"></p-button>
          </div>
          <div class="p-col">
            <p-button label="Download Video" class="p-button-info" *ngIf="!isVideoRecording && videoBlobUrl" (click)="downloadVideoRecordedData()"></p-button>
          </div>
          <div class="p-col">
            <p-button label="Upload Video" class="p-button-secondary" *ngIf="!isVideoRecording && videoBlobUrl" (click)="showUploadDialog()"></p-button>
          </div>
        </div>
      </p-footer>
    </p-card>
  </div>
</div>

<!-- Upload confirmation dialog -->
<p-dialog [(visible)]="showUploadConfirmationDialog" [modal]="true">
  <p-header>
    Confirm Upload
  </p-header>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="uploadVideo()"></button>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="hideUploadDialog()"></button>
  </p-footer>
</p-dialog>

<!-- Upload progress dialog -->
<p-dialog [(visible)]="showUploadProgressDialog" [modal]="true">
  <p-header>
    Uploading Video
  </p-header>
  <p-progressBar [value]="uploadProgress"></p-progressBar>
  <p-footer *ngIf="uploadProgress === 100">
    <button type="button" pButton icon="pi pi-check" label="Continue Recording" (click)="continueRecording()"></button>
    <button type="button" pButton icon="pi pi-home" label="Go to Home Page" routerLink="/"></button>
  </p-footer>
</p-dialog>