<div class="p-grid p-justify-center p-align-center">
  <div class="p-col-12 p-md-8 p-lg-6">
    <p-card>
      <p-steps [model]="stepItems" [activeIndex]="activeIndex" [readonly]="true" class="steps-padding"></p-steps>

      <h1 *ngIf="activeIndex === 0">Render Quality</h1>
      <p-selectButton [options]="videoQualities" *ngIf="activeIndex === 0" [(ngModel)]="selectedQuality" optionLabel="label" optionValue="value"></p-selectButton>
      <p-divider></p-divider>
      <div class="video-container" *ngIf="activeIndex !== 2">
        <video #videoElement class="video">
          <source *ngIf="!isVideoRecording && videoBlobUrl" [src]="videoBlobUrl">
        </video>
        <div *ngIf="isCountdownActive" class="countdown-overlay">
          <div class="countdown">{{ countdownValue }}</div>
        </div>
        <div *ngIf="!(hasCamera | async)" class="video-placeholder">
          No camera found. Please check your camera permissions or connect a camera.
        </div>
        <div id="videoTimer" *ngIf="isVideoRecording && !videoBlobUrl" class="video-timer"> 
          {{ videoRecordedTime }} 
        </div>

      </div>
      <p-footer *ngIf="activeIndex !== 2">
        <div class="p-grid p-justify-center button-container">
          <div class="p-col button-spacing">
            <p-button label="Start Recording" severity="success" *ngIf="!isVideoRecording && !videoBlobUrl" [disabled]="!(hasCamera | async)" (click)="startRecordingCountdown()"></p-button>
          </div>
          <div class="p-col button-spacing">
            <p-button label="Stop Recording" severity="danger" *ngIf="isVideoRecording && !videoBlobUrl" (click)="stopVideoRecording()"></p-button>
          </div>
          <div class="p-col button-spacing">
            <p-button label="Redo Recording" severity="warning" *ngIf="!isVideoRecording && videoBlobUrl" (click)="clearVideoRecordedData()"></p-button>
          </div>
          <div class="p-col button-spacing">
            <p-button label="Download Video" severity="secondary" *ngIf="!isVideoRecording && videoBlobUrl" (click)="downloadVideoRecordedData()"></p-button>
          </div>
          <div class="p-col button-spacing">
            <p-button label="Upload Video" severity="info" *ngIf="!isVideoRecording && videoBlobUrl" (click)="showUploadDialog()"></p-button>
          </div>
        </div>
      </p-footer>

      <div class="upload-progress" *ngIf="showUploadProgressDialog">
        <h1>{{ uploadProgress === 100 ? 'Success!' : 'Uploading...' }}</h1>
        <p-progressBar [value]="uploadProgress"></p-progressBar>
        <p-footer *ngIf="uploadProgress === 100">
          <p-button label="Go to My Videos"class="my-videos-button" severity="success" routerLink="/my-videos"></p-button>
        </p-footer>
      </div>
    </p-card>
  </div>
</div>

<p-dialog [(visible)]="showUploadConfirmationDialog" [modal]="true">
  <p-header>
    Confirm Upload
  </p-header>
  <p-footer>
    <p-button label="Yes" severity="success" (click)="uploadVideo()"></p-button>
    <p-button label="No" severity="danger" (click)="hideUploadDialog()"></p-button>
  </p-footer>
</p-dialog>